.sidebar {
    width: 190px;
    height: 100vh; /* 화면 전체 높이 */
    background-color: #F8F8F8;
    color: #757577;
    padding: 10px;
    position: fixed; /* 고정 위치 */
    left: 0;
    top: 0;
}

.sidebar ul {
    list-style: none;
    margin-top: 20px;
    padding: 0; /* ul 태그는 기본적으로 왼쪽에 padding이 있어서 이를 제거하기 위함 */
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    color: #757577;
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid #F8F8F8;
    border-radius: 10px;  /* 꼭짓점을 더 둥글게 */
    transition: background 0.3s; /* 배경색이 변할 때 0.3초 동안 변화 */
}

.sidebar ul li a:hover {
    color: #363636;
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
}